.khung{
    display: flex;
    background-color: lightgray;
    width: 1000px;
    height: 460px;
    justify-content: center;
  
}
html, body{
    background-image: url('https://divineshop.vn/image/catalog/Anh/14.03.2022/Image%202022-07-03-1656817479-97266.png?hash=1656817567');
    background-size: cover; 
    width: 100%;
    height: 100%;
}
.khung2
{
    width: 450px;
    height: 510px;
}

.khung3{
    width: 450px;
    height: 510px;    
    margin-top: 50px;
}


.all{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.te{
    padding: 5px 20px; 
    display: flex;
    color: #FFFFFF;
}

.fe{
    padding: 1px 20px; 
    color: #374151;  
    font-size: medium;
    flex-wrap: wrap;
    margin-left: 5px;
}

input:focus{
    background-color: gray;
    outline: 3px solid lightblue;
}

.google{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.face{
    width: 35px;
    height: 35px;
}

.ir
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bit{
    font-size: medium;
    width: 394.3px;
    height: 40px;
    display: flex;
    margin: 0 auto;
    background-color: #2579f2;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.nhap input{
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.forgot-pass{
    margin: 10px 0 15px 10px;
}
.other-login{
    margin: 10px 0 10px 10px;
}

.khu{
  margin: 0 0 0 25px;
}

.login{
    margin: 20px 0 0 5px;
}

.but
{
    float: right;
    cursor: pointer;
    height: 0.5rem;
    width: 0.5rem;
    font-size: xx-large;
    background-color: lightgray;
    border: none;
}

.exit{
    padding: 5px 20px; 
    margin: 20px 0 0 5px;
}